body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #2980b9, #6dd5fa, #ffffff);
}

/* LOGIN PAGE */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-box h1 {
  margin-bottom: 20px;
}

.login-box input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #2980b9;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-box button:hover {
  background: #1c5f8a;
}

/* CALCULATOR */
.container {
  width: 320px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.buttons button {
  width: 60px;
  height: 40px;
  margin: 5px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: #27ae60;
  color: white;
  cursor: pointer;
}

.buttons button:hover {
  background: #1e8449;
}

h2 {
  margin-top: 20px;
}